.page.theme_light {
  --main-font: 'IBM Plex mono';
  --heading-color: #ffc2e6;
  --accent-color: #ff8dcb;
  --shadow-color: #ff8dcb;
  --title-color: #000028;
  --subtitle-color: #000028;
  --accent-font-weigh: 700;
  --font-weigh: 400;
  --text-color: #353430;
  --bg-color: #fff1f7;
  --hover-color: rgb(50 49 45 / 0.4);
  --bg-image: url(../images/cover-image-light.png);
}

.theme_light .header__decor::before,
.theme_light .header__decor::after {
  visibility: hidden;
}

@media (width >= 1024px) {
  .theme_light .footer__text,
  .theme_light .heading {
    --shadow-color: #ff0070;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --main-font: 'IBM Plex mono';
    --heading-color: #ffc2e6;
    --accent-color: #ff8dcb;
    --shadow-color: #ff8dcb;
    --title-color: #000028;
    --subtitle-color: #000028;
    --accent-font-weigh: 700;
    --font-weigh: 400;
    --text-color: #353430;
    --bg-color: #fff1f7;
    --hover-color: rgb(50 49 45 / 0.4);
    --bg-image: url(../images/cover-image-light.png);
  }

  .theme_auto .header__decor::before,
  .theme_auto .header__decor::after {
    visibility: hidden;
  }

  @media (width >= 1024px) {
    .theme_auto .footer__text,
    .theme_auto .heading {
      --shadow-color: #ff0070;
    }
  }
}
